<ion-view title="CAAMpus Infraction">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1 style="font-size:30px; line-height: normal;">¡Bienvenido!</h1>
        <div>
            <p style="font-size:25px; line-height: normal;">¿Qué le gustaría hacer?</p>
        </div>
        <a ui-sref="multaNueva14" id="cAAMpusInfraction2-button9" class="button button-balanced button-large button-block icon-left ion-ios-paper">Tomar Multa Nueva</a>
        <a ui-sref="cAAMpusInfraction.multasDeHoy" id="cAAMpusInfraction2-button11" class="button button-positive button-large button-block icon-left ion-ios-list-outline">Ver Multas de Hoy</a>
    </ion-content>
</ion-view>