<ion-view title="Editar Multa">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h4>Seleccione todas las violaciones que apliquen:</h4>
        <form class="list">
            <ion-checkbox>Sitio no designado como área de estacionamiento, o el área de visitantes</ion-checkbox>
            <ion-checkbox>Frente a encintado amarillo</ion-checkbox>
            <ion-checkbox>Frente a una boca de incendio</ion-checkbox>
            <ion-checkbox>Ilegal o indebidamente</ion-checkbox>
            <ion-checkbox>Ocupando dos espacios</ion-checkbox>
            <ion-checkbox>Paralelo a o contiguo a un vehículo parado o Estacionar en una vía pública</ion-checkbox>
            <ion-checkbox>Sobre la grama o en la acera</ion-checkbox>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="multaNueva45" id="editarMulta-button19" class="button button-positive button-large button-block icon-right ion-ios-arrow-right">Siguiente</a>
        </form>
    </ion-content>
</ion-view>