<ion-view cache-view="false" title="Información de Multa">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a ui-sref="cAAMpusInfraction.multasDeHoy" id="informaciNDeMulta-button17" class="button button-calm button-large button-block icon-left ion-ios-undo-outline">Regresar a Multas de Hoy</a>
        <ion-list></ion-list>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/O1E3kUmwQjGONonGYvS6_user.jpg">
                 <h2 style="font-size:20px; line-height: normal;"><B>Numero de Boleto: {{infraction.infractionNumber}}</B></h2>
                <h2 style="font-size:20px; line-height: normal;"><B>{{infraction.vehicle.make}} {{infraction.vehicle.model}}</B></h2>
                <p style="font-size:20px; line-height: normal;"><B>Tablilla:</B> {{infraction.vehicle.licensePlateID}}</p>
                <div ng-show="deleteMessage">
                <p style="font-size:25px; line-height: normal; color:red"><B>Multa Cancelada</B> </p>
                </div>
            </ion-item>
        </ion-list>
        <ion-list>
                      
               <ion-item class="item-text-wrap"> <B style="font-size:20px; line-height: normal;"> Zona: </B> {{infraction.zone}}</ion-item>          
               <ion-item class="item-text-wrap"> <B style="font-size:20px; line-height: normal;">Fecha/Hora:</B> {{infraction.createTime | date:'yyyy-MM-dd'}} </ion-item>
               <ion-item class="item-text-wrap"> <B style="font-size:20px; line-height: normal;">Cantidad Multa:</B> {{infraction.feeAmount}} </ion-item>
               <ion-item class="item-text-wrap"> <B style="font-size:20px; line-height: normal;">Citation Date:</B> {{infraction.citationDate}} </ion-item>
            
           
            <ion-item class="item-divider" style="font-size:20px; line-height: normal;">Infracciones:</ion-item>
            <ion-item class="item-text-wrap" ng-repeat="violation in infraction.violations_name" class = "icon-left ion-ios-checkmark-empty" style="font-size:20px; line-height: normal;"> {{violation.description}} </ion-item>

             <ion-item class="item-divider" style="font-size:20px; line-height: normal;">Commentarios:</ion-item>
            <ion-item class="item-text-wrap" style="font-size:20px; line-height: normal;"> {{infraction.mainComment}} </ion-item>
             <div class="spacer" style="height: 40px;"></div>
             <p style="font-size:20px; line-height: normal;">Cantidad de fotos tomadas: <B>{{infraction.images.length}}</B></p>
        </ion-list>
           <ion-slide-box>
             <ion-slide ng-repeat="image in infraction.images">
                
                        <img style="max-width:100%;max-height:100%,width:300px;height:300px;margin:auto;display:block" data-ng-src="data:image/png;base64,{{image}}" >
                 
              </ion-slide>
        </ion-slide-box>  
        <div ng-show="editButton">
        <a href={{"#/infraction_edit/"+infraction.infractionNumber}} id="informaciNDeMulta-button20" class="button button-positive button-large button-block icon-left ion-edit" ng-click="editInfraction()">Editar Multa</a> </div>
        <div ng-show="deleteButton">
        <a id="informaciNDeMulta-button15" class="button button-assertive button-large button-block icon-left ion-trash-b" ng-click="cancelInfraction()" >Cancelar Multa</a>
        </div>

        <div ng-show= "deleteComment">
         <ion-item class="item-divider" style="font-size:20px; line-height: normal;">Comentario de Cancelacion:</ion-item>
            <ion-item class="item-text-wrap" style="font-size:20px; line-height: normal;"> {{infraction.cancellationComment}} </ion-item>
            </div>
       
    </ion-content>
</ion-view>
