<ion-view title="Información de Usuario">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/O1E3kUmwQjGONonGYvS6_user.jpg">
                <h2>John Doe</h2>
                <p>Officer ID: 123-45-6789</p>
            </ion-item>
        </ion-list>
        <h4>Cambiar Pin</h4>
        <form class="list">
            <label class="item item-input" name="pin">
                <span class="input-label">Pin Actual</span>
                <input type="password" placeholder="XXXX">
            </label>
            <label class="item item-input" name="new_pin">
                <span class="input-label">Pin Nuevo</span>
                <input type="password" placeholder="XXXX">
            </label>
            <label class="item item-input" name="confirm_new_pin">
                <span class="input-label">Confirmar</span>
                <input type="password" placeholder="XXXX">
            </label>
            <button id="informaciNDeUsuario-button13" class="button button-balanced  button-block icon-left ion-ios-keypad">Cambiar Pin</button>
        </form>
    </ion-content>
</ion-view>