<ion-view title="Log in">
    <ion-content overflow-scroll="true" padding="true" scroll="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/JMEbEyWxRPaKTvfl2jjg_CAAMpusInfraction.JPG" width="80%" height="auto">
        </div>
        <form class="list">
            <ion-list>
                <label class="item item-input" name="username">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" name="user_pin">
                    <span class="input-label">Pin</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 31px;"></div>
            <a ui-sref="cAAMpusInfraction.cAAMpusInfraction2" id="logIn-button1" class="button button-stable  button-block icon-left ion-log-in">Log in</a>
        </form>
        <div style="text-align:center;">
            <img src="img/TeamAlcaldeLogo.PNG" width="50%" height="auto">
        </div>
    </ion-content>
</ion-view>