<ion-view title="Multa Nueva (2/5)">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3>Seleccione el vehículo:</h3>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="multaNueva35">
                <img src="img/PkXPVnqRSeaqnsMJNj3p_escalade.jpg">
                <h2>Cadillac Escalade '02</h2>
                <p>Tablilla: ABC-123</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="multaNueva35">
                <img src="img/J1mvyRu3TLSDRE5fafpX_mazda3.jpg">
                <h2>Mazda 3 '05</h2>
                <p>Tablilla: ASD-456</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="multaNueva35">
                <img src="img/X3XoeoWTRu90dr5UpG1g_corolla.jpg">
                <h2>Toyota Corolla '06</h2>
                <p>Tablilla: QWE-890</p>
            </ion-item>
        </ion-list>
        <div>
            <p>¿El vehículo no se encuentra en esta lista?
                <strong>Repórtalo!</strong>
            </p>
        </div>
        <a ui-sref="multaNueva25" id="multaNueva24-button12" class="button button-assertive  button-block icon-left ion-alert">Reportar</a>
        <ion-list></ion-list>
    </ion-content>
</ion-view>