<ion-view title="Multa Nueva (2/5)">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h4>Información del Vehículo</h4>
        <form class="list">
            <ion-item style="font-size:20px; line-height: normal;">Numero de Tablilla: {{vehicle.tablilla}} </ion-item>
            <ion-item style="font-size:20px; line-height: normal;">Marca: {{vehicle.make}}</ion-item>
            <ion-item style="font-size:20px; line-height: normal;">Modelo: {{vehicle.Model}}</ion-item>
            <ion-item style="font-size:20px; line-height: normal;">Color: {{vehicle.Color}}</ion-item>
            <ion-item style="font-size:20px; line-height: normal;">Vin: {{vehicle.Vin}}</ion-item>
             <ion-item style="font-size:20px; line-height: normal;">Permit ID: {{vehicle.permiso}}</ion-item>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="multaNueva35" id="multaNueva25-button10" class="button button-positive button-large button-block icon-right ion-ios-arrow-right">Siguiente</a>
        </form>
    </ion-content>
</ion-view>